.App {
  text-align: center;
}

.logo {
  height: 50px;
  pointer-events: none;
}

.logoSmall{
  height: 27px;
  pointer-events: none;
}

nav{
  z-index: 2;
}

.navbar-nav > li > a{
  margin-right: 20px;
  margin-left: 20px;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-bottom: 1.5px solid white
}

.navbar-nav > li > a:hover{
  border-bottom: 1.5px solid white
}

.nav-item {
  margin-top: 10px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 5px;
}

.header-wrapper{
  position: relative;
  background: url(background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.typed-text{
  font-size: 50px;
  font-weight: bold;
}

/* .btn-sign-up{
  border: 1px solid white;
  border-radius: 0%;
  padding: 8px 10px 10px 10px;
  margin-top: 30px;
  color: white;
  text-decoration: none;
} */

.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: black;
  margin-top:50px !important;
  padding-bottom: 50px;
}

.copyright {
  padding-top: 30px;
  justify-content: center;
  text-align: center;
  color: white;
}

.profilePic {
  width: 100px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.gallery{
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding:0;
  width:100%;
}


.narrowWidthNavigation{
  display:inline-flex;
  margin-left:auto;
  margin-right:auto;
}

li{
  list-style: none;
}

.homeConsole{
  color:white;
  display:flex;
  justify-content: space-around;
  margin-top:80px;
  margin-bottom:50px;
}

.homeConsoleElement:hover{
  cursor:pointer;
  font-weight: 500;
  border-bottom: 1px white solid;
}