

.artPage{
    background-image: linear-gradient(to right,  #292b2c , black);
}


/* Left - Right */
.main{
    padding:0;
    height:200vh;
    display:flex;
    justify-content: center;
    color: white;
}

.side{
    padding:0;
    height:200vh;
    display:flex;
    justify-content: center;
    color: white;
}
/* ... */

/* LEFT */

/* TOP */
.imageInfo{
    padding:0;
    display:flex;
    justify-content: center;
    width:100%;
    /* height:120vh; */
}

.actualImage{
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}

.artImage{
    padding:0;
    width:100% !important;
    display: flex;
    justify-content: center;

}

.art{
    padding:0;
    width:100% !important;
    display: flex;
    justify-content: center;
}

.dmArtist{
    float:right;
    margin-left:15px !important;
}

.dmArtist:hover{
    text-decoration:underline;
    cursor:pointer;
}

.flagThis{
    float:right;
}

.flagThis:hover{
    text-decoration:underline;
    cursor:pointer;
}

.consoleElement{
    padding:0;
    margin:0;
    display:inline-block;
}

#purchaseButton{
    padding-left:100px;
}

#favoriteHoverElement{
    padding-left:50px;
}

#favoriteHoverElement:hover{
    text-decoration:underline;
    cursor:pointer;
}

.artDescription{
    width:90%;
    margin-top:15px;
    margin-left:auto;
    margin-right:auto;
}

.artistImage{
    display:flex;
    justify-content: center;
}

.artistInfo{
    padding-left:50px;
}

/* ... */


/* BOTTOM */
.commentSection{
    overflow:auto;
    white-space:nowrap;
    display:flex;
    justify-content: center;
    padding-top: 30px;
    width:100%;
    height:77vh
}

.commentReply:hover{
    text-decoration: underline;
    cursor:pointer;
}

.responseBox{
    background: #4d4d52;
    width:90%;
    padding-top:13px;
    padding-left: 10px;
    padding-bottom:5px;
}

.responseText{
    width:90%;
    margin-left:15px;
}

.responseButtonGroup{
    margin-left:15px;
}

.responseButtons:hover{
    text-decoration:underline;
    cursor:pointer;
}

.vl {
    border-left: 1px solid white;
    margin-left:40px;
}

.hl{
    background-color:white;
    width:100%;
}

/* ... */



/* RIGHT */

.categories{
    overflow:auto;
    white-space:nowrap;
    display:flex;
    justify-content: center;
    width:100%;
    height:145vh;
}

/* width */
.categories::-webkit-scrollbar {
    width: 10px;
}

  /* Track */
.categories::-webkit-scrollbar-track {
    display:none;
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}

  /* Handle */
.categories::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 2px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    /* display:none; */
    background: black;
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background:white;
    border-radius: 2px;
}

.moreByAuthor{
    display:flex;
    justify-content: center;
    width:100%;
    height:30vh;
}

.moreByAuthorTitle{
    height:8vh;
    padding-top:20px;
    display:flex;
    justify-content:center;
}

.categoryElement{
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px white solid;
    height:30vh;
    width:90%;
    width:flex;
}

.genreWrapper>h4:hover{
    color:rgb(105, 87, 224);
    cursor:pointer;
}

.addGenreText:hover{
    color:white !important;
    opacity:40% !important;
    cursor:pointer;
}


/* ... */

.addOrJoin{
    padding-left:auto;
    padding-right:auto;
    width:90%;
}

.addComment{
    width:90%;
}

.commentArtistThumbnail{
    height:60px;
    width:44px;
}

.mainComment{
    word-break: break-all;
    white-space: normal;
    background: #4d4d52;
    padding-top:13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:10px;
}

.mainCommentConsole{
    margin-left:8px;
}

.reportButtons:hover{
    color:red;
    cursor:pointer;
}

.responseReportButton{
    padding-left:20px;
}






/* Purchase Button */
.cross_line{
    float:right;
    display: inline-block;
    position: relative;
    padding: 0.25em 1em;
    margin-left:15px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    text-decoration: none;
    font-weight: bold;
    color: #03A9F4;
}
.cross_line:before, .cross_line:after{
    content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: black;
    transition: .3s;
}
.cross_line:before {left: 7px;}
.cross_line:after {right: 7px;}
.cross_line:hover:before{
    top: 0px;
    left:0;
    height: 100%;
}
.cross_line:hover:after{
    top: 0px;
    right: 0;
    height: 100%;
}
/* ... */

