

.artPage{
    background:black !important;
    width:99vw;
    height:320%;
}

.artDeleteOrUpdate{
    color:white;
    display:block;
    margin-bottom: 30px;
}

.artDeleteOrUpdate>*{
    display:flex;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
}

.smallLogo{
    height: 27px;
}

.smallLogo:hover{
    cursor:pointer;
    box-shadow: 0px 0px 90px 9px #abd7eb;
    background-color:#424343;
}

/* Left - Right */
/* ... */

/* LEFT */

/* TOP */
.imageInfo{
    padding:0;
    display:flex;
    justify-content: center;
    width:100%;
}


.artImage{
    padding:0;
    height:180vh;
    width:100% !important;
    display: flex;
    justify-content: center;

}

.art{
    padding:0;
    width:100% !important;
    display: flex;
    justify-content: center;
}

.dmArtist{
    float:right;
    margin-left:15px !important;
}

.dmArtist:hover{
    text-decoration:underline;
    cursor:pointer;
    filter:brightness(1.2)
}

.flagThis{
    float:right;
}

.flagThis:hover{
    text-decoration:underline;
    cursor:pointer;
    filter:brightness(1.2)
}

.consoleElement{
    padding:0;
    margin:0;
    display:inline-block;
}

#purchaseButton{
    padding-left:100px;
}

#favoriteHoverElement{
    padding-left:50px;
}

#favoriteHoverElement:hover{
    text-decoration:underline;
    cursor:pointer;
    filter:brightness(1.2)
}

.artDescription{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.artistImage{
    display:flex;
    justify-content: center;
}

.artistInfo{
    padding-left:50px;
    height:20vh;
    color:white;
    margin-left:auto;
    margin-right:auto;
}

.actualImage{
    max-height:1000px;
    max-width:1100px;
    padding:20px;
    margin-top:30px;
}

@media screen and (max-width: 1000px){
    .actualImage{
        max-height:700px;
        max-width:800px;
        padding:20px;
        margin-top:30px;
    }
}

@media screen and (max-width: 700px){
    .actualImage{
        max-height:650px;
        max-width:600px;
        padding:20px;
        margin-top:30px;
    }
}

@media screen and (max-width: 600px){
    .actualImage{
        max-height:500px;
        max-width:500px;
        padding:20px;
        margin-top:30px;
    }
}

/* ... */


.authorAvatar:hover{
    cursor:pointer;
    filter:brightness(1.2) !important;
}

.artistLink:hover{
    text-decoration: underline;
    cursor:pointer;
    filter:brightness(1.2);
}

/* BOTTOM */
.commentSection{
    overflow:auto;
    white-space:nowrap;
    display:flex;
    justify-content: center;
    padding:30px;
    margin-top: 250px;
    width:70%;
    color:white;
    height:85vh
}

.commentSection::-webkit-scrollbar {
    width: 2px;
}

  /* Track */
.commentSection::-webkit-scrollbar-track {
    display:none;
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}

  /* Handle */
.commentSection::-webkit-scrollbar-thumb {
    background: white !important;
    border-radius: 2px;
}

.commentReply:hover{
    text-decoration: underline;
    cursor:pointer;
    filter:brightness(1.2)
}

.commentDelete:hover{
    color:red;
    cursor:pointer;
    filter:brightness(1.2)
}

.responseBox{
    background: #4d4d52 !important;
    width:80%;
    padding-top:13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:10px;
}

.responseText{
    width:80%;
    margin-left:15px;
}

.responseButtonGroup{
    margin-left:15px;
}

.responseButtons:hover{
    text-decoration:underline;
    cursor:pointer;
    filter:brightness(1.2)
}

.vl {
    border-left: 1px solid white;
    margin-left:40px;
}

.hl{
    background-color:white !important;
    width:100%;
}

/* ... */



/* RIGHT */

.categories{
    overflow:auto;
    white-space:nowrap;
    display:flex;
    justify-content: center;
    width:100%;
    color:white;
    margin-bottom:50px;
}

/* width */
.categories::-webkit-scrollbar {
    width: 3px;
}

  /* Track */
.categories::-webkit-scrollbar-track {
    display:none;
    box-shadow: inset 0 0 5px black;
    border-radius: 5px;
    width:5px;
}

  /* Handle */
.categories::-webkit-scrollbar-thumb {
    background: white !important;
    border-radius: 2px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    /* display:none; */
    background: black !important;
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background:white !important;
    border-radius: 2px;
}

.moreByArtistWrapper{
    margin-left:auto;
    margin-right:auto;
    width:75vw;
    color:white;
}

.moreByArtistImage{
    max-width: 300px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.moreByArtistImage:hover{
    cursor:pointer;
    opacity:80%;
    filter:brightness(1.2)
}

.moreByAuthor{
    display:flex;
    justify-content: center;
    width:100%;
    height:30vh;
    margin-top:40px;
}

.moreByAuthorTitle{
    height:8vh;
    padding-top:20px;
    display:flex;
    justify-content:center;
}

.categoryElement{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    height:15vh;
    width:100%;
}

.genreWrapper>h4:hover{
    color:rgb(105, 87, 224);
    cursor:pointer;
    
}

.addGenreText:hover{
    color:white !important;
    opacity:40% !important;
    cursor:pointer;
}

/* ... */

.addOrJoin{
    padding-left:auto;
    padding-right:auto;
    width:90%;
}

.sendCommentButtonIcon:hover{
    color:rgb(116,96,226);
    cursor:pointer;
    filter:brightness(1.2)
}


.addComment{
    width:90%;
}

.commentArtistThumbnail{
    height:45px;
    width:34px;
}

.commentArtistThumbnail:hover{
    cursor:pointer;
    filter:brightness(1.2)
}

.mainComment{
    word-break: break-all;
    white-space: normal;
    background: #4d4d52 !important;
    width:80%;
    padding-top:13px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:10px;
}

.mainCommentConsole{
    margin-left:8px;
}

.reportButtons:hover{
    color:red;
    cursor:pointer;
}

#responseReportButton{
    margin-left:15%;
}

.deleteModal{
    display: block;
    height:100%; 
    width:100%;
}

.modal-content{
    padding:40px;
}

