.formBackground2{
  position: relative;
  background: url(../assets/login.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.form-container {
  margin-top: 10%;
  width: 25%;
  position: absolute;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.form-content-left { 
  position: relative;
}

.form {
  position: absolute;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 50px;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 100%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 16px;;
  margin-bottom: 5px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  margin-bottom: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 16px;
}

.form-input-btn {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border-radius: 2px;
  background: black;
  outline: none;
  border: none;
  color: #fff;
  font-size: 16px;
}

.form-input-btn:hover {
  cursor: pointer;
  background: rgb(32, 32, 32);
  transition: all 0.4s ease-out;
}
