.background2{
    position: relative;
    background-color:black;
    background-position: center;
    height: 200vh;
}

.artistPic{
    width: 130px;
    height: 130px;
    border-radius: 10%;
    padding:0;
}

.username{
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.artistName{
    color: white;
    font-size: 14px;
    padding-bottom: 20px;
}

.contact {
    width: 150px;
}

.aboutMe{
    color:white; 
}

.profileGalleryColumnTitles{
    display:flex;
    justify-content: center;
    color:white;
    margin-top:30px;
    margin-bottom:30px;
}