.background2{
    position: relative;
    background-color:black;
    background-position: center;
    height: 230vh;
}


.title{
    color:white;
    display:flex;
    justify-content: center;
    padding-top:30px;
}

.artistPic{
    border-radius: 10%;
    padding:0;
}

.artistPicWrapper{
    width:40%;
}

.updateProfileButton:hover{
    opacity:80%;
    cursor: pointer;
}

.deleteProfileButton:hover{
    opacity:80%;
    cursor: pointer;
}

.contactProfileButton:hover{
    opacity:80%;
    cursor: pointer;
}

.username{
    color: white;
    font-size: 22px;
    font-weight: bold;
}


.artistName{
    color: white;
    font-size: 14px;
    padding-bottom: 20px;
}

.contact {
    width: 150px;
}

.aboutMe{
    color:white; 
}

.gallery{
    padding:0 !important;
}


.profileArt{
    color:white;
    display:flex;
    justify-content: center;
    margin-top: 50px;
}

.profileConsoleElement{
    display:flex;
    justify-content: center;
}

.profileConsoleElement:hover{
    font-weight:800;
    cursor:pointer;
}

.lineSelection{
    background:white;
    margin-bottom:20px;
}

.deleteModal{
    display:block;
    height:100%;
    width:100%;
}

.modal{
    background-color: rgba(0,0,0, 0.6); 
    color:white;
    overflow:auto;
    white-space:nowrap;
}

.modal-content{
    background: black;
    color:white;
}

.modalImageContentWrapper{
    margin-left:auto;
    margin-right:auto;
    width:140px;
}

.modalInfoLeftContent,.modalInfoRightContent{
    display:block;
    margin-top:35px;
    margin-bottom:35px;
}

.modalLabelInfoLeftElement,
.modalTextInfoLeftElement,
.modalLabelInfoRightElement,
.modalTextInfoRightElement{
    width:90%;
    margin:auto;
}

.descriptionText{
    word-wrap: break-word;
}

.modalTextInfoLeftElement{
    border:none; 
    outline:none;
    background:black;
    border-bottom:1px solid white;
    color:white;
    margin-bottom:15px;
}

.modalTextInfoRightElement{
    width:90%;
    height:90%;
    background:black;
    color:white;
}

.aboutArtistSection{
    display:block;
    margin-left:10px;
    margin-bottom:20px;
}

.aboutArtistSection>*{
    width:50%;
}

.selectedOptionGalleryOrFavorites{
    background: white;
    color:black;
    font-weight: 800;
}

.optionGalleryOrFavorites{
    padding:10px 30px
}