.background2{
    position: relative;
    background-color:black;
    background-position: center;
    height: 250vh;
}

.artistPic{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding:0;
}

.username{
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.artistName{
    color: white;
    font-size: 14px;
    padding-bottom: 20px;
}

.contact {
    width: 150px;
}

/* .modal{
    display:inline !important;
} */