.formBackground3{
  position: relative;
  background: url(../../assets/backgroundsAndEssentials/post.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

@media screen and (max-width: 1000px){
  .formBackground3{
    position: relative;
    background: url(../../assets/backgroundsAndEssentials/post.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 1100px;
  }
}

.form-label2 {
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  color: black !important;
}

.form-input{
  width:26rem !important;
}

.form-inputs{
  justify-content: center;
}

#artDescription, #genreSelects{
  width:26rem !important;
}

.form-input::placeholder {
  color: #595959;
  font-size: 16px;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-input-btn {
  width: 26rem !important;
  height: 40px;
  margin-top: 10px;
  border-radius: 2px;
  background: black;
  outline: none;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-left:17px;
}

.form-input-btn:hover {
  cursor: pointer;
  background: rgb(32, 32, 32);
  transition: all 0.4s ease-out;
}

.artPost {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 15px;
  color: black;
}

.post-success {
  margin-top: 10vh;
  font-weight: bold;
  font-size: 30px;
}

.post-success-2{
  width: 100vh;
}

.form-container{
  width:100% !important;
}